@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $purple;
  &__pinkle{
    background-color: $orange;
    height: 100%;
  }
  &__pink{
    background-color: $tan;
    height: 100%;
  }
  &__hotpink{
    background-color: $whiteish;
    height: 100%;
  }
}
